<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex justify-content-between w-100">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/images/logo.svg" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="17">
          </span>
        </a>

        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/logo-light.svg" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-light.png" alt="" height="19">
          </span>
        </a>
      </div>

      <div class="d-flex justify-content-end">
        <!-- IDIOMAS -->
        <div class="dropdown d-inline-block" dropdown>
          <button type="button" class="btn header-item" id="page-header-user-dropdown" dropdownToggle>
            <img *ngIf="flagvalue !== undefined" src="{{flagvalue}}" alt="Header Language" height="16"> 
            <img *ngIf="flagvalue === undefined" src="{{valueset}}" alt="Header Language" height="16">
          </button>

          <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item" *ngFor="let item of listLang"
              (click)="setLanguage(item.text, item.lang, item.flag)" [ngClass]="{'active': cookieValue === item.lang}">
              <img src="{{item.flag}}" alt="user-image" class="me-1" height="12"> <span
                class="align-middle">{{item.text}}</span>
            </a>
            <!-- item-->
          </div>
        </div>

        <!-- Full screen -->
        <div class="dropdown d-none d-lg-inline-block ms-1">
          <button type="button" class="btn header-item noti-icon" data-toggle="fullscreen" (click)="fullscreen()">
            <i class="bx bx-fullscreen"></i>
          </button>
        </div>

        <!-- User -->
        <div class="dropdown d-inline-block" dropdown>
          <button type="button" class="btn header-item noti-icon right-bar-toggle" dropdownToggle id="page-header-user-dropdown">
            <i class="bx bx-cog bx-spin"></i>
          </button>
          
          <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
            <a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()"><i
                class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
              {{ 'HEADER.LOGIN.LOGOUT' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>